@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;700&family=Roboto:wght@100;300;400;700&family=Titillium+Web:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a,
a::after {
    text-decoration: none;
    color: black;
}

button {
    padding: 0.3rem 1rem;
    background-color: rgb(225, 6, 0);
    color: white;
    border: none;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(255, 8, 0);
}

/* Navbar */
header {
    background-color: rgb(225, 6, 0);
    padding: 0.3rem;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.6rem;
    margin-right: 1.9rem;
}

.navbar-items {
    display: flex;
    list-style: none;
}

.navbar-items li {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

.navbar-items li a {
    color: white;
    cursor: pointer;
}

.navbar-items li a:hover {
    text-decoration: underline;
}

.logo h1 {
    font-size: 1.75rem;
}

/* Main section */
main {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.main-title {
    text-align: center;
    margin-bottom: 1.75rem;
}

.button-container {
    text-align: right;
    margin-bottom: 0.5rem;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin: 0.5rem;
    border: 0.125rem solid #b3b2b2cc;
    width: 12.5rem;
    text-align: center;
}

.item h3 {
    border-bottom: 0.1rem solid black;
    border-top: 0.1rem solid black;
}

.item a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.item img {
    width: 100%;
    height: auto;
}

.item-icons {
    font-size: 1.2rem;
    margin-top: 0.1rem;
}

.edit-icon a i {
    margin-right: 0.2rem;
    color: rgb(20, 189, 40);
}

.edit-icon a i:hover{
    color: rgb(22, 226, 46);
}

.delete-icon{
    margin-left: 0.2rem;
    cursor: pointer;
    color: rgb(225, 6, 0);
}

.delete-icon:hover{
    color: rgb(255, 8, 0);
}


/* Add and Edit form styles */
.add-form {
    margin-top: 1rem;
    text-align: center;
    background-color: #f2f2f2;
    padding: 1rem;
}

.form-title {
    margin-bottom: 0.5rem;
    text-align: center;
}

.add-form label {
    display: block;
    text-align: left;
    margin-bottom: 0.3rem;
}

.add-form input,
.add-form select {
    width: 100%;
    padding: 0.3rem;
    margin-bottom: 0.6rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

/* Details */
.details-title {
    text-align: center;
}

.go-back-button {
    display: block;
    margin: 0.6rem auto;
}

.image {
    width: 50%;
    margin-right: 6rem;
}

.image img {
    width: 90%;
    height: 90%;
}

.details {
    width: 50%;
    height: 100%;
    background-color: #f2f2f2;
    border-right: 0.3rem solid rgb(21, 21, 30);
    border-bottom: 0.3rem solid rgb(21, 21, 30);
    border-top: 0.3rem solid rgb(255, 8, 0);
    border-left: 0.3rem solid rgb(255, 8, 0);
    border-top-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    padding: 1rem;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 1.5rem;
}

.detail-item p {
    font-size: 1.25rem;
}

.team-details-left {
    width: 50%;
    text-align: center;
}

.team-details-right {
    width: 50%;
    text-align: center;
}

.team-details-left h2,
.team-details-right h2 {
    margin-bottom: 0.6rem;
}

.driver-images img {
    width: 40%;
    height: auto;
    margin: 0.125rem;
}

.principal-image img {
    width: 75%;
    height: auto;
}

.info {
    display: flex;
    justify-content: center;
    margin-top: 1.9rem;
}

/* Footer */
footer {
    text-align: center;
    background-color: rgb(21, 21, 30);
    padding: 0.3rem;
    color: white;
    margin-top: auto;
}

@media only screen and (max-width: 1024px){
    main .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main .info .image {
        margin-right: 0;
        margin-bottom: 0.9rem;
    }

    form label {
        font-size: 1.25rem;
    }

    footer {
        font-size: 0.85rem;
    }

    .driver-images img, .principal-image img  {
        width: 100%;
    }

    .image {
        width: 65%;
        display: flex;
        justify-content: center;
    }

    .details {
        width: 70%;
    }

    .detail-item label {
        font-size: 1.4rem;
    }

    .detail-item p {
        font-size: 1.3rem;
    }

}

@media only screen and (min-width:760px) and (max-width: 1024px){
    .detail-item label {
        font-size: 1.6rem;
    }

    .detail-item p {
        font-size: 1.35rem;
    }

    .image {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .details {
        width: 60%;
        padding: 0.85rem;
    }
}
